.errormessage{
    color: red;
}

.verification_message{
    text-align: center;
    padding: 20px;
}

.verification_form{
    padding: 20px;
}
.umulogo
{
    padding-right: 5mm;
    padding-bottom: 20px;
    padding-top: 20px;
}

.logotext
{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
}

.information {
    padding: 15px;
}

.editpage{
    float:right;
    padding:5px
}
.navbar-brand {
    padding: 0px;
}

div.editmenu {
    width: 100%;
    text-align: left;
    padding: 15px;
    
}

div.editmenurow {
    padding-bottom: 10px;
}

span.editmenu {
    text-align: left;
    width:300px;
    float: left;
}
