<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="edit_menu.js"></script>

    <script src="jquery.min.1.9.1.js"></script>
    <script src="jquery.min.latest.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
        .levelSpace {
            margin-left: 5em
        }

        .row {
            font-size: 14px;
            background-color: #ffffff;
            border-bottom: 1px solid;
            border-color: #CFCFCF;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        .row:hover {
            background-color: #D4EDF3;
        }

        .level2 {
            margin-left: 4em
        }

        .level3 {
            margin-left: 8em
        }

        .level4 {
            margin-left: 12em
        }

        .menuTable {
            background-color: #FFFFFF;
        }

        #newMenuItemModalWindowContent {
            padding: 10px
        }

        .modalComponents {
            margin: 5px;
        }

        .headline {
            background-color: #CFCFCF;
            font-size: 17px;
        }
    </style>
</head>

<body ng-app="editMenuApp">

<div ng-controller="HelloController">
    Select menu side to edit:
    <select ng-model="menuSideDropdown.value"
            ng-options="v.type as v.name for v in menuSideDropdown.values"
            ng-change="setupFlatMenuDict()">
    </select>
    <br>

    <button class="btn btn-primary btn-sm" ng-click="saveMenu();">
        Save
    </button>
    <br>
    <br>


    <div>
        <div class="col-sm-4 headline">
            Menu item name:
        </div>
        <div class="col-sm-2 headline">
            Type
        </div>
        <div class="col-sm-2 headline">
            Submit ID:
        </div>
        <div class="col-sm-2 headline">
            Visibility
        </div>
        <div class="col-sm-2 headline">
            .
        </div>
    </div>
    <br>
    <br>

    <div class="menuTable">
        <div ng-repeat="menuItem in flatMenuDict" class="row">
            <div class="col-sm-4">
                <div class="level{{menuItem.level}}">
                    <input type="text" ng-model="menuItem.name">
                </div>
            </div>
            <div class="col-sm-2">
                <i>{{menuItem.menuType.name}}</i>
            </div>
            <div class="col-sm-2">
                {{menuItem.submit}}
            </div>
            <div class="col-sm-2">
                <select ng-model="menuItem.type"
                        ng-options="v.type as v.name for v in menuItemVisibility.values"
                        ng-hide="menuItem.menuType == modalWindowsInformation.menuItemRealtionDropDown.values[2]">
                </select>

                <select ng-model="menuItem.type"
                        ng-options="v.type as v.name for v in headerVisibility.values"
                        ng-show="menuItem.menuType == modalWindowsInformation.menuItemRealtionDropDown.values[2]">
                </select>
            </div>
            <div class="col-sm-1">
                <span class="glyphicon glyphicon-trash" ng-click="deleteMenuItem(menuItem)"/>
            </div>
            <div class="col-sm-1">
                <span class="glyphicon glyphicon-plus"
                      ng-click="showNewMenuItemModalWindow(menuItem)"
                      ng-hide="menuItem.menuType == modalWindowsInformation.menuItemRealtionDropDown.values[3]"/>
            </div>

        </div>
    </div>
    <br>

    <button class="btn btn-primary btn-sm" ng-click="saveMenu();">
        Save
    </button>


    <!-- Modal window for error report-->
    <div class="modal fade" id="newMenuItemModalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="newMenuItemModalWindowContent">
                <form id="reportForm">

                    <span class="modalComponents">New menu items relation to clicked menu item:</span>
                    <br>

                    <select ng-model="rootModalWindowsInformation.menuItemRealtionDropDown.value"
                            ng-options="v.type as v.name for v in rootModalWindowsInformation.menuItemRealtionDropDown.values"
                            class="modalComponents"
                            ng-show="selectedMenuItem.menuType.type == modalWindowsInformation.menuItemRealtionDropDown.values[0].type">
                    </select>

                    <select ng-model="dropdownModalWindowsInformation.menuItemRealtionDropDown.value"
                            ng-options="v.type as v.name for v in dropdownModalWindowsInformation.menuItemRealtionDropDown.values"
                            class="modalComponents"
                            ng-show="selectedMenuItem.menuType.type == modalWindowsInformation.menuItemRealtionDropDown.values[1].type">
                    </select>

                    <select ng-model="headerModalWindowsInformation.menuItemRealtionDropDown.value"
                            ng-options="v.type as v.name for v in headerModalWindowsInformation.menuItemRealtionDropDown.values"
                            class="modalComponents"
                            ng-show="selectedMenuItem.menuType.type == modalWindowsInformation.menuItemRealtionDropDown.values[2].type">
                    </select>
                    <br>

                    <span class="modalComponents">Enter a submit id, which could be used to navigate to a specific page</span>
                    <br>

                    <input type="text" name="submitId" ng-model="modalWindowsInformation.submitId"
                           class="modalComponents">
                    <br>

                    <button class="btn btn-primary btn-sm modalComponents" ng-click="submitNewMenuItemModalWindow();">
                        Create menu item
                    </button>
                    <br>

                    <span style="color:#ce0008;">{{errorMessage}}</span>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>  