<style>
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
</style>

<div class="navbar-header">
<a class="navbar-brand" href="#"><img style="padding:0;margin:0" src="{{menu.icon}}" /></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div ng-repeat="element in list" ng-show="element.visible != false">{{element.id}}</div>
<ul class="nav navbar-nav"  >
  <li ng-repeat="element in menu.left" class="{{element.class}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="getInformationFromServer(element.submit);">
            {{element.name}}
            <b class="caret" ng-show="element.children"></b>
        </a>
        <ul class="dropdown-menu" ng-show="element.children">
          <li ng-repeat="child in element.children">
              <a href="#" ng-click="getInformationFromServer(child.submit);">{{child.name}}</a>
          </li>
        </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right"  >
  <li ng-repeat="element in menu.right" class="{{element.class}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="getInformationFromServer(element.submit);">
            <b class="dropdown-toggle glyphicon glyphicon-pencil" ng-show="allowConfig == true && configMenu == true && authenticated == true"></b>
            {{element.name}}
            <b class="caret" ng-show="element.children"></b>
        </a>
        <ul class="dropdown-menu" ng-show="element.children">
          <li ng-repeat="child in element.children">
              <a href="#" ng-click="getInformationFromServer(child.submit);">{{child.name}}</a>
          </li>
        </ul>
  </li>
  <li>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-pencil" title="{{menu.configure}}"  ng-show="allowConfig == true && configMenu == false && authenticated == true" ng-click="editMenu()"></a>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-floppy-save" title="{{menu.configuresave}}"  ng-show="allowConfig == true && configMenu == true && authenticated == true" ng-click="saveMenu()"></a>
  </li>
  <li class="dropdown" ng-show="authenticated == true && allowAdmin == true">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="authenticated == true && allowAdmin == true">Admin <b class="caret"></b></a>
    <ul class="dropdown-menu" ng-show="authenticated == true && allowAdmin == true">
        <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="adminUsers();" ng-show="authenticated == true && allowUserChange == true">{{menu.adminUsers}}</a></li>
        <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="invite();" ng-show="authenticated == true && allowInvite == true">{{menu.invite}}</a></li>
        <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="editCSS();" ng-show="authenticated == true">{{menu.css}}</a></li>
        <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="editMenu();" ng-show="authenticated == true">{{menu.editmenu}}</a></li>
        <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="openUploadImageWindow();" ng-show="authenticated == true">{{menu.uploadImageWindow}}</a></li>
    </ul>
  </li>
  <li><a href="#" data-toggle="dropdown" class="dropdown-toggle" ng-click="changePassword();" ng-show="allowChangePassword == true">{{menu.changepassword}}</a></li>
  <li><a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-log-in" title="{{menu.signin}}" ng-show="authenticated == false" ng-click="signin();"></a></li>
  <li><a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-log-out" title="{{menu.signout}}" ng-show="authenticated == true && allowedSignout == true" ng-click="signout();"></a></li>
</ul>
</div><!-- /.navbar-collapse -->
