<div class="navbar-header">
<a class="navbar-brand" href="#"><img style="padding:0;margin:0" src="{{menu.icon}}" /></a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div ng-repeat="element in list" ng-show="element.visible != false">{{element.id}}</div>
<ul class="nav navbar-nav"  >
  <li ng-repeat="element in menu.left" class="{{element.class}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="getInformationFromServer(element.submit, element.name);">
            {{element.name}}
            <b class="caret" ng-show="element.children"></b>
        </a>
        <ul class="dropdown-menu" ng-show="element.children">
          <li ng-repeat="child in element.children">
              <a href="#" ng-click="getInformationFromServer(child.submit, element.name+' -> '+child.name);">{{child.name}}</a>
          </li>
        </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right"  >
  <li ng-repeat="element in menu.right" class="{{element.class}}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="getInformationFromServer(element.submit, element.name);">
            <b class="dropdown-toggle glyphicon glyphicon-pencil" ng-show="allowConfig == true && configMenu == true && authenticated == true"></b>
            {{element.name}}
            <b class="caret" ng-show="element.children"></b>
        </a>
        <ul class="dropdown-menu" ng-show="element.children">
          <li ng-repeat="child in element.children">
              <a href="#" ng-click="getInformationFromServer(child.submit, element.name+' -> '+child.name);">{{child.name}}</a>
          </li>
        </ul>
  </li>
  <li>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-pencil" title="{{menu.configure}}"  ng-show="allowConfig == true && configMenu == false && authenticated == true" ng-click="editMenu()"></a>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-floppy-save" title="{{menu.configuresave}}"  ng-show="allowConfig == true && configMenu == true && authenticated == true" ng-click="saveMenu()"></a>
  </li>
  <li><a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-log-in" title="{{menu.signin}}" ng-show="authenticated == false" ng-click="signin();"></a></li>
  <li><a href="#" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-log-out" title="{{menu.signout}}" ng-show="authenticated == true && allowedSignout == true" ng-click="signout();"></a></li>
</ul>
</div><!-- /.navbar-collapse -->
